@import '../../styles/common/colors';
@import '../../styles/common/functions';

.popover {
  > * {
    margin: 0;
  }
}

.popover-wrapper {
  position: relative;
}

.popover-inner {
  background-color: $white;
  border-radius: 3px;
  box-shadow: 0 8px 24px 0 rgba(27,37,47,0.5);
  width: 300px;
  box-sizing: border-box;
  left: 50%;
  opacity: 0;
  padding: 20px;
  position: absolute;
  transform: translateX(-50%);
  transition: opacity .25s ease;
  visibility: hidden;
  z-index: z('alert');

  &:before {
    background-color: $white;
    border-radius: 3px;
    content: ' ';
    height: 20px;
    left: calc(50% - 4px);
    position: absolute;
    transform: rotate(45deg) translateX(-50%);
    width: 20px;
  }
}

.popover-showing {
  opacity: 1;
  visibility: visible;
}

.top {
  bottom: calc(100% + 14px);
  &:before {
    bottom:-16px;
  }
}

.bottom {
  top: calc(100% + 14px);
  &:before {
    top:0;
  }
}

.popover-content {
  overflow-wrap: break-word;
  position: relative;
  word-wrap: break-word;
  z-index: 1;

  // Center the text on the popover-content buttons,
  // since we can't easily apply the `fill` class to each one
  // eg: buttons are implemented in a child component
  button em {
    display: block;
  }
}
