@import '../../styles/common/colors';
@import '../../styles/common/functions';

.dropdown-component {
  display: inline-block;
}

.trigger {
  cursor: pointer;
}

.dropdown-wrapper {
  background-color: $white;
  border-radius: 3px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: auto;
  min-width: 128px;
  margin-top: 7px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  visibility: hidden;
  z-index: z('dropdown');
}

.dropdown-wrapper-flush {
  composes: dropdown-wrapper;
  overflow: hidden;
  padding: 0;
}

.is-opened {
  .dropdown-wrapper {
    opacity: 1;
    visibility: visible;
  }
}

.list-wrapper {
  margin: 0;
  min-width: 110px;
  padding: 0;

  li {
    box-sizing: border-box;
    color: $primary-4;
    cursor: pointer;
    display: block;
    min-height: 18px;
    padding: 10px;
    text-decoration: none;
    width: 100%;

    &:hover {
      background-color: $primary-1;
      color: $white;
    }
  }
}

.overlay {
  background-color: $white;
  width: 100%;

  > span {
    font-size: 16px;
    font-weight: 200;
    color: $navy-text;
    margin-left: 10px;
    margin-top: 10px;
    display: block;
  }

  .button-wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
    width: 100%;
    
    button {
      margin: 0;
    }
  }
}
