@import '~react-ions/styles/common/mixins';

.callback-status {
  @include monospace;
  display: block;
}

.truncate-text {
  width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
