@import '~react-ions/styles/common/mixins';

.callback-status {
  @include monospace;
  display: block;
}

.update {
  display: flex;
  margin-bottom: 15px;
  button {
    margin-right: 15px;
  }
}

.custom-multi {
  max-width: 400px;
}
