@import '../../../../../../src/styles/common/colors';
@import '../../../../../../src/styles/common/mixins';

.external-controls {
  float: right;

  a {
    color: $primary-1;
    text-decoration: none;
  }
}

.wrapper {
  @include vertical-align('inline');

  span {
    margin-left: 10px;
  }
}
