@import '~react-ions/styles/common/colors';
@import '~react-ions/styles/common/mixins';

.external-controls {
  float: right;

  a {
    color: $primary-1;
    text-decoration: none;
  }
}

.wrapper {
  @include vertical-align('inline');
  white-space: nowrap;

  span {
    margin-left: 10px;
  }
}

.right-align-example {
  button {
    margin-right: unset;
  }  
}