@import 'src/styles/common/colors';
@import 'src/styles/common/mixins';

.badge {
  @include vertical-align($display: 'inline');
  color: $white;
  background-color: $neutral-3;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
  height: 30px;
  width: 30px;

  svg {
    fill: $white;
  }

  &.success {
    background-color: $success;
  }

  &.danger {
    background-color: $danger;
  }

  &.warning {
    background-color: $warning;
  }

  &.sky {
    background-color: $primary-1;
  }

  &.navy {
    background-color: $primary-5;
  }
}

.badge + .badge {
  margin-left: 10px;
}
