{
  "presets": ["react", "es2015"],
  "plugins": ["array-includes", "transform-object-rest-spread", "transform-class-properties", "transform-export-extensions", "transform-object-assign", "transform-es2015-classes"],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
