{
  "presets": ["react", "es2015"],
  "plugins": ["transform-object-rest-spread", "transform-class-properties", "transform-export-extensions", "array-includes"],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
