@import '~react-ions/styles/common/screen.scss';

.paragraph {
  margin: 0;
}

.custom-panel-slider-demo-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
}

.custom-panel-slider {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  padding: 0 5rem;
  justify-content: center;
  white-space: normal;

  @media #{$media-small-minus} {
    padding: 0 1rem;
  }
}

[class^='custom-panel-slider-demo-slide'] {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 200px;

  [class^='slide-'] {
    padding: 0 .5em;
  }
}

.custom-panel-slider-demo-slide-1 .slide-1,
.custom-panel-slider-demo-slide-2 .slide-2,
.custom-panel-slider-demo-slide-3 .slide-3 {
  color: #000;
  pointer-events: none;
  text-decoration: none;
}
