@import '../../styles/common/colors';

.dropdown-component {
  .dropdown-value {
    padding: 16px;
    border: 1px solid $neutral-3;
    border-radius: 3px;
    cursor: pointer;
  }

  ul {
    display: none;
    position: absolute;
    background-color: $white;
    border: 1px solid $neutral-3;
    border-radius: 3px;
    li {
      color: black;
      padding: 12px;
      text-decoration: none;
      display: block;
      &:hover {
        background-color: #f1f1f1;
      }
    }
    &.show {
      display: block;
    }
  }
}
