@import '../../styles/common/colors';
@import '../../styles/common/mixins';

.dropdown-component {
  display: inline-block;
  min-width: 220px;

  .dropdown-value {
    position: relative;
    padding: 10px;
    border: 1px solid $neutral-3;
    border-radius: 3px;
    cursor: pointer;
    svg {
      position: absolute;
      right: 10px;
      top: 12px;
    }
  }

  ul {
    min-width: 220px;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    background-color: $white;
    border: 1px solid $neutral-3;
    box-sizing: border-box;
    border-radius: 3px;
    li {
      color: black;
      padding: 10px;
      text-decoration: none;
      display: block;
      cursor: pointer;
      &:hover {
        background-color: $primary-1;

      }
    }
    &.show {
      display: inline-block;
    }
  }
}
