.mbsy-style {
  background-color: #fff;
  display: none; }
  .mbsy-style.mbsy-style {
    display: flex; }
  .mbsy-style.mbsy-style {
    display: inline-flex; }
  .mbsy-style.mbsy-style {
    align-items: center;
    bottom: 0;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    z-index: 1000; }
  .mbsy-style.mbsy-style {
    align-items: center;
    bottom: 0;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 4000; }
  .mbsy-style.mbsy-style {
    display: none; }

.mbsy-style {
  animation: mbsy-style 2.0s infinite linear;
  height: 40px;
  position: relative;
  width: 40px; }
  .mbsy-style .mbsy-style, .mbsy-style .mbsy-style {
    animation: mbsy-style 2.0s infinite ease-in-out;
    background-color: #3C97D3;
    border-radius: 100%;
    display: inline-block;
    height: 60%;
    position: absolute;
    top: 0;
    width: 60%; }
  .mbsy-style .mbsy-style {
    animation-delay: -1.0s;
    background-color: #E54C3B;
    bottom: 0;
    top: auto; }

@keyframes mbsy-style {
  100% {
    transform: rotate(360deg); } }

@keyframes mbsy-style {
  0%, 100% {
    transform: scale(0); }
  50% {
    transform: scale(1); } }

.mbsy-style .mbsy-style, .mbsy-style .mbsy-style, .mbsy-style .mbsy-style {
  animation: mbsy-style 1.4s infinite ease-in-out both;
  background-color: #9198A0;
  border-radius: 100%;
  display: inline-block;
  height: 12px;
  margin-right: 3px;
  width: 12px; }

.mbsy-style .mbsy-style {
  animation-delay: -0.32s; }

.mbsy-style .mbsy-style {
  animation-delay: -0.16s; }

.mbsy-style .mbsy-style {
  margin-right: 0; }

@keyframes mbsy-style {
  0%, 80%, 100% {
    transform: scale(0); }
  40% {
    transform: scale(1); } }
