@import 'src/styles/mixins/index';
@import 'src/styles/common/colors';

.btn {
  @include vertical-align('inline');
  background-color: $mbsy-blue;
  border: 1px solid transparent;
  border-radius: 3px;
  color: $white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 200;
  line-height: 1em;
  margin-right: 12px;
  padding: 8px;
  user-select: none;
  white-space: nowrap;

  &.sm {
    font-size: 12px;
    padding: 4px;
  }

  &.lg  {
    font-size: 16px;
    padding: 12px;
  }

  &.success {
    background-color: $success;
    color: $white;
  }

  &.danger {
    background-color: $red-ga-light;
    color: $white;
  }

  &.flat {
    background-color: $white;
    border: 1px solid #d7d9dd;
    color: $primary-4;
  }

  &.secondary {
    background-color: $neutral-2;
    color: rgba(36, 49, 64, 0.5);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .65;
  }

  // To handle inline icons
  svg + span,
  span + svg {
    margin-left: 6px;
  }

  svg + span {
    float: left; // for Firefox
  }

}
