.mbsy-style {
  display: inline-block; }

.mbsy-style {
  cursor: pointer; }

.mbsy-style {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: auto;
  min-width: 128px;
  margin-top: 7px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  visibility: hidden;
  z-index: 2250; }

.mbsy-style {
  overflow: hidden;
  padding: 0; }

.mbsy-style .mbsy-style {
  opacity: 1;
  visibility: visible; }

.mbsy-style {
  margin: 0;
  min-width: 110px;
  padding: 0; }
  .mbsy-style li {
    box-sizing: border-box;
    color: #243140;
    cursor: pointer;
    display: block;
    min-height: 18px;
    padding: 10px;
    text-decoration: none;
    width: 100%; }
    .mbsy-style li:hover {
      background-color: #3C97D3;
      color: #fff; }

.mbsy-style {
  background-color: #fff;
  width: 100%; }
  .mbsy-style > span {
    font-size: 16px;
    font-weight: 200;
    color: #233040;
    margin-left: 10px;
    margin-top: 10px;
    display: block; }
  .mbsy-style .mbsy-style {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
    width: 100%; }
    .mbsy-style .mbsy-style button {
      margin: 0; }
