@import '../../styles/common/colors';
@import '../../styles/common/functions';
@import '../../styles/common/screen';

.alert {
  display: flex;
  padding: 7px 10px;
  border-radius: 4px;
	background-color: $white;
  color: $primary-4;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 200;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  > div {
    margin-left: 10px;
  }
  > svg {
    margin-top: 1px;
    min-width: 17px;
  }
  &.success {
    svg {
      fill: $success;
    }
    .countdown-bar > span {
      background-color: $success;
    }
  }
  &.warning {
    svg {
      fill: $warning;
    }
    .countdown-bar > span {
      background-color: $warning;
    }
  }
  &.info {
    svg {
      fill: $info;
    }
    .countdown-bar > span {
      background-color: $info;
    }
  }
  &.danger {
    svg {
      fill: $danger;
    }
    .countdown-bar > span {
      background-color: $danger;
    }
  }
  .close-icon {
    cursor: pointer;
    height: 15px;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 9px;
    svg {
      margin-top: 0;
      fill: $neutral-4;
    }
  }

  .countdown-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    margin: 0 !important;
    > span {
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: none;
      animation-play-state: running;
      animation-name: countdown;
      height: 100%;
      position: absolute;
    }
  
    @keyframes countdown {
      0% {
        width: 100%;
      }
    
      100% {
        width: 0%;
      }
    }
  }


  
  &:hover .countdown-bar > span {
    animation-play-state: paused;
  }
}

.alert-system.slide-in-right {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: z('alert');

  .alert {
    animation: slideInRight .75s ease-out;
    animation-iteration-count: 1;
    margin-left: 30px;
    max-width: 350px;

    div:not(.close-icon) {
      margin-right: 20px;
    }
  }

  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translate3d(3000px, 0, 0);
    }

    80% {
      opacity: 1;
      transform: translate3d(-25px, 0, 0);
    }

    100% {
      transform: translate3d(0, 0, 0);
    }
  }

}
