.tab-content {
  padding: 15px;
  background-color: #F7F7F9;
  border: 1px solid #F7F7F9;
}

.tab-content-secondary {
  padding: 15px;
  background-color: #FFFFFF;
}

.update {
  display: flex;
  margin-bottom: 15px;
  button {
    margin-right: 15px;
  }
}
