.tab-content {
  padding: 16px;
  background-color: #F7F7F9;
  border: 1px solid #F7F7F9;
}

.tab-content-secondary {
  padding: 16px 0;
  background-color: #FFFFFF;
}

.update {
  display: flex;
  margin-bottom: 16px;

  button {
    margin-right: 16px;
  }
}

.tab-prefix {
  font-size: inherit;
  height: auto;
  min-width: 16px;
  margin-right: 8px;
  border: none !important;
}

.icon-green {
  svg {
    fill: #26B894;
  }
}
