@import '~react-ions/styles/common/colors';

.font-box {
  width: 150px;

  .font-box-aa {
    background-color: $white;
    border: solid 1px $neutral-3;
    border-radius: 3px;
    overflow: hidden;
    height: 150px;
    font-size: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $navy-text;
  }

  .font-box-weight {
    color: $navy-text;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 0;
    text-align: left;
  }
}
