@import 'src/styles/mixins/vertical-align';
@import 'src/styles/common/colors';
// @import 'src/styles/common/fonts';

.breadcrumb {
  @include vertical-align;
  height: 65px;
  padding: 0 15px;

  .primary {
    display: inline-block;
    // font-family: $proxima-nova-semibold;
    font-size: 20px;
  }

  .secondary {
    color: $base-text;
    // font-family: $proxima-nova-regular;
    font-size: 14px;
  }

  .separator {
    color: $base-text;
    margin: 0 10px;
  }
}
