@import '../../styles/common/mixins';
@import '../../styles/common/colors';
@import '../../styles/common/screen';
@import '../../styles/common/functions';

.breadcrumbs-container {
  position: relative;
}

.breadcrumb {
  @include vertical-align('inline');
  height: 65px;
  padding: 0 15px;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;

  .primary {
    display: inline-block;
    font-weight: 200;
    font-size: 20px;
  }

  .secondary {
    color: $base-text;
    font-size: 14px;
    font-style: normal;
    position: relative;
  }

  .icon-arrow-68 {
    margin: 0 6px;
    min-width: 14px;
  }

  @media #{$media-small-minus} {
    height: 50px;
  }


  em {
    display: flex;

    @media #{$media-small-minus} {
      &.ellipsis {
        background: $neutral-3;
        display: flex;

        .icon-arrow-68, .secondary {
          display: none;
        }

        &:after {
          content: '...';
          display: inline-block;
          padding-left: 10px;
        }
      }
    }
  }
}
