@import '~react-ions/styles/common/colors';

.toggle {
  margin-bottom: 15px;
}

.checkbox-group {
  [class^='checkbox-component'] {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
