@import '../../styles/common/colors';
@import '../../styles/common/mixins';
@import '../../styles/common/screen';

.form-group {
  h3 {
    margin: 0 0 10px 0;
  }

  [class^='button-group'] {
    display: inline-block;
    margin-right: 15px;
  }
}

label {
  display: block;
  > div {
    display: inline-block;
  }
}

.remove-item {
  display: inline-block;
  float: right;
  position: relative;
  top: 11px;
}

.field {
  margin-bottom: 15px;
}

fieldset.row {

  .field {
    display: inline-block;
    margin: 0 15px 0 0;
    min-width: auto;

    @media #{$media-small-minus} {
      margin: 0 0 15px 0;
      min-width: 100%;
    }
  }

  [class^='selectfield'].field ul {
    min-width: auto;
  }
}

[class^='checkbox'].field {
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: inherit;
  }
}

.fieldset > fieldset {
  margin-bottom: 15px;
}

.fieldset legend {
  color: $primary-4;
  display: block;
  float: left;
  font-size: 12px;
  font-weight: normal;
  margin: 30px 0 10px;
  position: relative;
  text-transform: uppercase;
  width: 100%;

  span {
    background-color: $white;
    padding-right: 5px;
    position: relative;
    z-index: 1;
  }

  &:after {
    background-color: $neutral-1;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 7px;
    width: 100%;
  }
}
