@import '../../styles/common/colors';
@import '../../styles/common/mixins';
@import '../../styles/common/screen';

.form-group {
  h3 {
    margin: 0 0 10px 0;
  }

  [class^='button-group'] {
    display: block;
    button {
      height: 39px;
    }
  }
}

.remove-item {
  position: absolute;
  right: 0;
  top: 11px;
}

.field {
  margin-bottom: 15px;
}

.fieldset > fieldset {
  margin-bottom: 15px;
}

fieldset.row {
  margin-bottom: 0;
  padding-right: 20px;
  position: relative;
  .field {
    float: left;
    display: block;
    margin: 0 15px 15px 0;
    min-width: auto;
    @media #{$media-small-minus} {
      margin: 0;
      min-width: 100%;
    }
  }

  @media #{$media-small-minus} {
    padding-right: 0;
    margin-bottom: 15px;
    [class^='button-group'] {
      margin-bottom: 15px;
    }
    .remove-item {
      right: 12px;
      top: 64px;
    }
    .fields {
      padding-right: 40px;
      > .field {
        > div, > input {
          border-radius: 3px 3px 0 0;
        }
        + .field {
          margin-top: -1px;
          > div, > input {
            border-radius: 0;
          }
          &:last-child {
            > div, > input {
              border-radius: 0 0 3px 3px;
            }
          }
        }
      }
    }
  }

  [class^='selectfield'].field ul {
    min-width: auto;
  }
}

[class^='checkbox'].field {
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: inherit;
  }
}

.fieldset legend {
  color: $primary-4;
  display: block;
  float: left;
  font-size: 12px;
  font-weight: normal;
  margin: 30px 0 10px;
  position: relative;
  text-transform: uppercase;
  width: 100%;

  span {
    background-color: $white;
    padding-right: 5px;
    position: relative;
    z-index: 1;
  }

  &:after {
    background-color: $neutral-1;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 7px;
    width: 100%;
  }
}

.is-hidden {
  display: none;
}

.radio-child {
  margin: 0 0 15px 27px;
  width: 50px;
}
