$primary-color: red;
$secondary-color: black;

.box {
  background-color: $primary-color;
  border: 10px solid pink;
  display: flex;
  color: white;
  height: 100px;
  padding: 1em;
}

.mod {
  background-color: $secondary-color;
  transition: background-color .5s ease-out;
  composes: box;
  height: 300px;

  &:hover {
    background-color: $primary-color;
  }
}
