@import 'src/styles/common/colors';
@import 'src/styles/common/mixins';
@import 'src/styles/common/screen';
@import 'src/styles/common/functions';

.panel-group {
  background: $neutral-2;
}

.panel {
  border-bottom: 1px solid $neutral-3;

  &:last-child {
    border-bottom: none;
  }
}

.panel-header {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  font-weight: 200;
  padding: 15px;
  position: relative;
  user-select: none;

  .title-group {
    @include vertical-align('block');
    user-select: none;

    h4 {
      color: $neutral-4;
      line-height: 0;
      margin: 0;
      position: relative;
      top: 1px;
    }

    svg {
      fill: $neutral-4;
      position: relative;
    }

    svg + h4 {
      margin-left: 10px;
    }
  }

  .toggle-icon {
    display: none;
    position: absolute;
    right: 15px;
    top: 13px;
    transform: rotate(-135deg);
    transition: .25s ease;
  }

  &:hover {
    .title-group {
      h4 {
        color: $primary-5;
      }
      svg {
        fill: $primary-5;
      }
    }
    .toggle-icon {
      display: block;
    }
  }

}

.panel-content {
  box-sizing: border-box;
  display: none;
  padding: 0 40px 15px;
}

.panel-active {

  .panel-header {
    h4 {
      color: $primary-5;
    }
    svg {
      fill: $primary-5;
    }
  }

  .panel-content {
    display: block;
  }

  .toggle-icon {
    display: block;
    top: 15px;
    transform: rotate(0);
  }

}
