@import 'src/styles/common/colors';
@import 'src/styles/common/mixins';
@import 'src/styles/common/screen';
@import 'src/styles/common/functions';

.panel-group {
  background: $neutral-2;
}

.panel {
  border-bottom: 1px solid $neutral-3;
}

.panel-header {
  box-sizing: border-box;
  color: lighten($primary-5, 50%);
  font-size: 14px;
  font-weight: 200;
  padding: 15px;

  h4 {
    line-height: 0;
    margin: 0;
  }

  svg {
    position: relative;
  }

  h4 + svg {
    margin-left: 5px;
  }

}

.panel-content {
  box-sizing: border-box;
}
