//
// Colors
// --------------------------------------------------
$white: #fff;
$black: #000;
$gray-4: #ECF0F0;
$blue-dark: #2D3E50;
$blue-light: #c8f0ff;
$mbsy-navy: #243141;

$bg-primary: $gray-4;
$bg-sidebar: $mbsy-navy;
$base-text: #879098;

// New 2015 colors, brought to you by Maciej
// $mbsy-blue: #2f95d8;
// $mbsy-blue2: #2586c7;
// $mbsy-orange: #ff9600;
// $mbsy-darkorange: #d27c00;
// $mbsy-darkred: #9a0907;
// $mbsy-lightgray: #c3c3c3;
// $mbsy-semilightgray: #ababab;
// $mbsy-gray: #9ea0a1;
// $mbsy-darkgray: #717171;
// $mbsy-dark: #243142;
// $mbsy-mist: #e1e1e1;
// $mbsy-fog: #b0b0b0;
// $mbsy-haze: #cfcfcf;
// $mbsy-pastel-red: #e3474d;
//
// // Define where the colors are used
// $clr-required-splat: $mbsy-pastel-red;
// $clr-input-label: $mbsy-dark;
// $clr-input-placeholder: $mbsy-fog;
// $clr-input-text: $mbsy-fog;
// $clr-input-border: $mbsy-mist;
// $clr-dropdown-caret: $mbsy-haze;
// $clr-selected-item: $mbsy-blue2;
//
// //===================================================
//
//
// // Background
// $bg-secondary: #959AA7;
// $bg-tertiary: $white;
//
// // Primary $ secondary colors
// $blue-darker: #1E2935;
// $blue: $bg-secondary;
// $blue-light: #3C97D3;
// $blue-lighter: #3E89C9;
// $blue-neon: #62caf3;
// $blue-facebook: #3E5B9D;
// $blue-linkedin: #017faf;
// $blue-tumblr: #44546A;
// $blue-twitter: $blue-neon;
//
// $gray-darker: #555555;
// $gray-dark: #808080;
// $gray: #BDC2C7;
// $gray-light: #CCC;
// $gray-lighter: $bg-primary;
// $gray-1: #7F8C8D;
// $gray-2: #94A4A5;
// $gray-3: $gray;
//
// $green: #26B894;
//
// $orange-darker: #DC4126;
// $orange-dark: #E54C3b;
// $orange: #F29C1E;
// $orange-klout: #DC4126;
//
// $red: #CA2028;
// $red-ga-dark: #AB1F24;
// $red-ga-light: #DC1F26;
// $red-google: #E54C3B;
// $red-pinterest: $red;
//
// $link-color: $blue-light;
//
// $btn-default-color: #666666;
// $btn-default-bg: #EEF2F4;
//
//
// // Smart table colors
// $table-font-color: $gray-darker;
// $table-border-color: $mbsy-mist;
//
// // Alert colors
// $alert-success: #3db93a;
// $alert-danger: #c50315;
// $alert-info: #3383b8;
// $alert-warning: #fbb234;
