//
// Colors
// --------------------------------------------------

$white: #FFFFFF;
$black: #000000;

// Neutral colors
$primary: #ECF0F0;
$secondary: #F7F7F9;
$light-gray: #DEE0E3;
$dark-gray: #9198A0;

// Primary Colors
$mbsy-blue: #3C97D3;
$editor-blue: #3178B7;
$dark-blue-1: #1B252F;
$dark-blue-2: #243140;
$dark-blue-3: #2D3E50;
$dark-blue-4: #4F6A92;

// Secondary Colors
$green: #26B894;
$orange: #F29C1E;
$red: #E54C3B;
$aqua: #62CAF3;


$light-blue: #C8F0FF;
$code-example-blue: #2f95d8;
$mbsy-navy: #243141;
$base-text: #879098;
$red-ga-light: #CA2028;
$bg-primary: $primary;
$bg-sidebar: $mbsy-navy;
$dark-blue-text: #233040;
