@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin vertical-align($display: 'block') {
  align-items: center;
  box-sizing: border-box;
  @if $display == 'inline' {
    display: inline-flex;
  } else {
    display: flex;
  }
}

@mixin monospace {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  line-height: 22px;
  word-wrap: normal;
  white-space: pre;
}

@mixin button-context($bg-color, $color) {
  background-color: $bg-color;
  color: $color;

  svg {
    fill: $color;
  }
}
