@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin vertical-align($display: 'block') {
  align-items: center;
  box-sizing: border-box;
  @if $display == 'inline' {
    display: inline-flex;
  } @else {
    display: flex;
  }
}

@mixin monospace {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  line-height: 22px;
  word-wrap: normal;
  white-space: pre;
}

@mixin button-context($bg-color: inherit, $color: inherit, $fadeOnHover: true) {
  background-color: $bg-color;
  color: $color;

  svg {
    fill: $color;
  }

  // Set Loader color
  > div > div > div > div {
    background-color: $color !important;
  }

  @if $fadeOnHover {
    transition: all .15s ease-in-out;

    &:hover {
      background-color: darken($bg-color, 15%);
      opacity: .9;
    }
  }

  // Disabled
  &:disabled,
  &.disabled {
    cursor: not-allowed;
    opacity: .65;

    &:hover {
      background-color: $bg-color;
      color: $color;
    }
  }

}
