@import '../../styles/common/colors';
@import '../../styles/common/_config';
@import '../../styles/common/functions';

.modal-component {
  position: fixed;
  z-index: 3500;
  &.modal-open {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    .modal-content {
      opacity: 1;
      z-index: z('modal');
      visibility: visible;
    }
  }

  .modal-scroll-container {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .modal-content {
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    position: relative;
    margin: 80px auto 40px;
    width: 75%;
    max-width: 708px;
    padding: 30px;
    background: $white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    transition: opacity .4s $animation-in-out-quadratic;

    &.modal-sm {
      max-width: 320px;
    }

    &.modal-lg {
      max-width: 1200px;
    }

    .modal-header {

      .modal-close {
        position: absolute;
        right: 30px;

        > svg {
          cursor: pointer;
        }

      }

      h1 {
        font-family: proxima_nova;
        font-weight: 200;;
        font-size: 20px;
        margin: 15px 0;
        color: $navy-text;
      }
    }

    .modal-body {
      font-size: 14px;
      color: $navy-text;
      margin: 0 -15px;
      padding: 0 15px;
    }

    .modal-actions {
      margin-top: 30px;
      float: right;
      button {
        margin-right: 0;
        margin-left: 12px;
      }
    }
  }
}
