//
// Normalize
// --------------------------------------------------
@import 'src/styles/global/normalize';

//
// Flexbox Grid
@import 'src/styles/global/flexboxgrid';

//
// Streamline Icons
// --------------------------------------------------
// $ionicons-font-path: "../bower_components/ionicons/fonts";
// @import "ionicons/scss/ionicons.scss";


// "Global" styles to be applied to the React-Conventions app
@import '_colors';

body {
  background-color: $bg-primary;
}

.content {
  padding-left: 205px;
  width: 100%;
}
