$ga-font-folder: '../../../../src/assets/fonts';
@import '../../../../src/styles/common/base';
@import '../../../../src/styles/common/screen';
@import '../../../../src/styles/common/functions';

body {
  background-color: $neutral-1;
  font-family: proxima_nova;
  -webkit-font-smoothing: antialiased;
}

.content-wrap {
  margin-left: 205px;
  width: 100%;
  padding-top: 65px;
  transition: all 0.25s ease 0s;

  @media #{$media-small-minus} {
    margin-left: 0;
  }
}
