@import 'src/styles/global/normalize';
@import 'src/styles/global/flexboxgrid';
@import 'colors';
@import 'nav';

body {
  background-color: $bg-primary;
}

.sidebar {
  background-color: $mbsy-navy;
  height: 100%;
  position: fixed;
  width: 205px;
}

.content {
  padding-left: 205px;
  width: 100%;
}

.logo {
  padding: 15px 0 0 15px;
  width: 150px;
}
