@import '../../../../src/styles/common/colors';
@import '../../../../src/styles/mixins/index';

// TODO: replace all font sizes with variables
.code-example-wrap {
  background: $white;
  border-radius: 2px;
  box-sizing: border-box;
  margin-bottom: 32px;

  header {
    padding: 20px 24px;

    h3 {
      display: inline;
    }

    // Local Overrides
    button {
      float: right;
      margin-top: -7px;
      margin-right: -7px;
      padding: 8px 4px;
      position: relative;

      .button-icon-wrap {
        position: relative;
        top: 1px;
        transition: transform .25s ease-out;
      }
      svg:first-child {
        margin-right: -2px;
      }
      svg:nth-child(2) {
        transition: .25s ease-out;
      }
    }

    button.active {
      .button-icon-wrap {
        transform: rotate(90deg);
      }
      svg:first-child {
        opacity: 0;
        visibility: hidden;
      }
      svg:nth-child(2) {
        left: -6px;
        position: relative;
        top: 1px;
      }
    }
  }

  .component {
    @include clearfix;
    padding: 20px 24px;
  }

  .body {
    height: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;

    &.open {
      height: auto;
      padding: 20px 24px;
      max-height: 1000px;
      overflow: auto;
      transition: max-height 800ms ease-out;
    }

    p {
      margin: 0;
    }

    pre, code {
      margin: 0;
      padding: 0;
    }

    pre {
      background: linear-gradient(
        to bottom,
        $neutral-2 50%,
        $neutral-2,
        $white,
        $white 50%
      );
      background-size: 100% 44px;
      padding: 1px 6px;
    }

    code {
      @include monospace;
      margin-bottom: -2px;
    }
  }

  .description {
    padding: 20px 24px;

    a {
      color: $mbsy-blue;
    }

    p {
      color: $base-text;
      font-size: 14px;
      margin: 0;
    }

    code {
      @include monospace;
      background-color: rgba(0,0,0,.04);
      border-radius: 3px;
      margin: 0;
      padding: .2em;
    }
  }
}

// Styles for Highlight.js
// http://highlightjs.readthedocs.org/en/latest/css-classes-reference.html
:global {
  .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;

    .hljs-string,
    .hljs-section,
    .hljs-function,
    .hljs-selector-class,
    .hljs-template-variable,
    .hljs-deletion {
      color: $red-ga-light;
    }
    .hljs-keyword {
      color: $black;
      font-weight: bold;
    }

    .hljs-subst {
      color: $black;
    }
  }
}
