@import '../../../../src/styles/common/colors';

.content {
  padding: 30px;
}

.block {
  margin-bottom: 30px;

  h1 {
    font-weight: normal;
  }

  h3 {
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
  }

  h4 {
    font-weight: normal;
  }

  p {
    color: $base-text;
    font-size: 14px;
  }

}

.icon {
  height: 20px;
  width: 20px;
  margin: 0 20px 20px 0;
}
