@import '../../../../src/styles/common/colors';
@import '../../../../src/styles/common/mixins';

.content {
  padding: 30px;
}

.block {
  margin-bottom: 30px;

  h1 {
    font-weight: normal;
  }

  h3 {
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    color: $navy-text;
  }

  h4 {
    font-weight: normal;
  }

  > p {
    color: $base-text;
    font-size: 14px;
  }

}
