@import '../../../../src/styles/common/colors';
@import '../../../../src/styles/mixins/index';

.content {
  padding: 30px;
}

.block {
  margin-bottom: 30px;

  h1 {
    font-weight: normal;
  }

  h3 {
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
  }

  h4 {
    font-weight: normal;
  }

  p {
    color: $base-text;
    font-size: 14px;
  }

}

// TODO: move to it's own file
.icon-block {
  @include vertical-align('inline');
  margin: 0 20px 20px 0;
  width: 23%;

  .icon {
    height: 20px;
    margin-right: 10px;
    width: 20px;
  }

  code {
    color: $mbsy-navy;
    font-family: Consolas, Liberation Mono, Menlo, Courier, monospace;
    font-size: 12px;
  }
}

// TODO: move to it's own file
.code-example {
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
  margin-bottom: 32px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

  header {
    background-color: grey;
    padding: 20px 24px;

    h3 {
      display: inline;
    }

    svg {
      float: right;
    }
  }

  .body {
    padding: 20px 24px;
  }

  code {
    font-size: 14px;
  }
}
