@import '../../../../src/styles/common/colors';
@import '../../../../src/styles/common/mixins';
@import '../../../../src/styles/common/screen';
@import '../../../../src/styles/common/functions';

.header {
  background-color: $primary-4;
  position: relative;
  z-index: 1;
}
