@import '../../../../src/styles/common/colors';
@import '../../../../src/styles/common/mixins';

.header {
  background-color: $primary-4;
  position: relative;
  z-index: 1;
}

.logo-wrap {
  @include vertical-align('inline');
  height: 65px;
}

.logo {
  padding-left: 15px;
  width: 150px;
}
