@import '../../../../src/styles/common/colors';
@import '../../../../src/styles/mixins/index';

header {
  background-color: $bg-sidebar;
  position: relative;
  z-index: 1;
}

.logo-wrap {
  @include vertical-align('inline');
  height: 65px;
}
.logo {
  padding-left: 15px;
  width: 150px;
}
