:global [role='nav'] {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul a {
    color: #c8f0ff;
    display: block;
    font-size: 16px;
    padding: 20px 15px;
    text-decoration: none;

    &[class^=active] {
      background-color: #364b60;
      color: #fff;
    }
  }

  ul li ul a {
    color: #c8f0ff;
    font-size: 14px;
    padding: 10px 15px;

    &[class^=active] {
      color: #c8f0ff;
    }
  }
}
