@import '../../../../src/styles/common/colors';
@import '../../../../src/styles/common/mixins';

.wrapper {
  overflow-x: auto;
}

.table {
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
  min-width: 400px;
  color: $primary-3;

  th {
    font-weight: 200;
    border-style: solid;
    border-color: $neutral-3;
    border-width: 2px 0;
    color: $neutral-4;
  }

  th, td {
    padding: 10px 15px;
    text-align: left;
  }

  td {
    border-bottom: 1px solid $neutral-3;
  }
}

.has-required-props {
  color: $primary-3;
  font-size: 14px;
  margin-top: 15px;
}

.cell-monospaced {
  @include monospace;
  color: $primary-6;
  font-size: 13px;
}

.cell-sm {
  width: 5%;
}

.cell-md {
  width: 10%;
}

.enum-values {
  display: block;
}
