@import '../../../../src/styles/common/colors';
@import '../../../../src/styles/common/screen';

.sidebar-toggle {
  background-color: transparent;
  border: medium none;
  display: none;
  height: 50px;
  left: 0;
  outline: 0 none;
  padding: 0;
  position: fixed;
  top: 0;
  transition: left 0.25s ease-in-out;
  width: 60px;
  cursor: pointer;

  @media #{$media-small-minus} {
    display: block;
    left: 5px;

    &.sidebar-visible {
      left: 205px;

      .burger-piece {
        background-color: $white;

        &:first-of-type {
          transform: rotate(-40deg);
          top: 5px;
        }
        &:last-of-type {
          transform: rotate(40deg);
          top: -5px;
        }
        &:first-of-type, &:last-of-type {
          position: relative;
          left: -2px;
          width: 15px;
        }
      }
    }
  }

  .burger-piece {
    background-color: $primary-3;
    height: 3px;
    margin: 6px 9px;
    transition: all 0.25s ease-in-out;
    width: 35px;
  }
}
