@import '../../../../src/styles/common/colors';
@import '../../../../src/styles/common/screen';
@import '../../../../src/styles/common/functions';

.sidebar {
  background-color: $primary-4;
  height: 100%;
  position: fixed;
  width: 205px;
  z-index: 1;
  left: 0;
  transition: all 0.25s ease-in-out;
  z-index: z('nav');

  @media #{$media-small-minus} {
    left: -205px;
    &.visible {
      left: 0;
    }
  }
}
