.datepicker-component {
  > div {
    &:first-of-type {
      width: 70px;
      > div {
        border-radius: 3px 0 0 3px;
      }
    }
    &:nth-of-type(2) {
      width: 60px;
      margin-left: -1px;
      > div {
        border-radius: 0;
      }
    }
    &:nth-of-type(3) {
      width: 75px;
      margin-left: -1px;
      > div {
        border-radius: 0 3px 3px 0;
      }
    }
  }
}
