@import '~react-ions/styles/common/colors.scss';

.update {
  display: flex;
  margin-bottom: 15px;
}

.dragging > div:nth-child(2) {
  transition: all 0.25s ease-in-out;
  background-color: $neutral-1;
  > div:nth-child(2) {
    overflow: visible !important;
  }
}

.item-with-badge {
  display: flex;
  align-items: center;
  justify-content: space-between;
  [class*='badge'] {
    padding: 6px 8px;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    height: 24px;
    box-sizing: border-box;
  }
}
