@import '~react-ions/styles/common/mixins';

.update {
  display: flex;
  margin-bottom: 15px;

  button {
    margin-left: 15px;
  }
}

.button-wrapper {
  margin-bottom: 15px;

  button {
    margin-right: 15px;
  }
}
