@import '../../styles/common/colors';

.taglist {
  box-sizing: border-box;
  color: $navy-text;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  list-style: none;
  margin-top: 0;
  padding: 0;
  
  &:empty {
    display: none;
  }

  .text {
    margin-right: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  > li {
    align-items: center;
    background-color: $neutral-2;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    margin: 8px 8px 0 0;
    padding: 8px 12px;
  }

  svg {
    cursor: pointer;
    user-select: none;
    min-width: 12px;
  }
}
