@import '../../../../../src/styles/common/colors';
@import '../../../../../src/styles/common/mixins';
@import '../../../../../src/styles/common/screen';

.hero {
  padding: 0;
  position: relative;
  top: -65px;
  z-index: 1;
}

.skew {
  background-color: $primary-2;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  padding: 1em 2em 4em;

  h1 {
    color: $white;
    font-size: 3em;

    @media #{$media-small-minus} {
      font-size: 2em;
    }
  }
}

.secondary {
  padding: 0 30px;
}
