@import '../../styles/common/colors';
@import '../../styles/common/mixins';
@import '../../styles/common/screen';
@import '../../styles/common/functions';

.activity-feed {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
    left: -5px;
    margin-bottom: 30px;
    position: relative;
    width: 100%;

    &:after {
      background-color: $neutral-3;
      content: '';
      height: 100%;
      left: 19px;
      position: absolute;
      top: 30px;
      width: 2px;
    }

    &:last-of-type {
      margin-bottom: 0;

      &:after {
        display: none;
      }
    }

    @media #{$media-extra-small} {
      margin-bottom: 25px;
      width: calc(100% + 5px);
    }
  }
}

.element-scrollable {
  width: calc(100% + 10px);
  > ul > div {
    padding-right: 10px;
  }
}

.indicator {
  border: 5px solid $white !important;
  border-radius: 9px !important;
  left: 0;
  position: absolute;
  top: -5px;
  z-index: 1;
}

.loader {
  position: relative;
  height: 50px;
  clear: both;
}

.item-wrapper {
  border-radius: 3px;
  border: 1px solid $neutral-1;
  box-sizing: border-box;
  display: flex;
  padding: 15px;
  margin-left: 60px;
  width: calc(100% - 60px);

  &:hover,
  &.has-active-action,
  &.is-hovering-tooltip {
    border: 1px solid $primary-1;

    .action-items {
      display: block;
      position: relative;
      visibility: visible;
    }

    time:not(:only-child) {
      display: none;

      @media #{$media-small-minus} {
        display: block;
      }
    }

    @media #{$media-extra-small} {
      background-color: $neutral-2;
      border: 0;
    }
  }

  @media #{$media-small-minus} {
    flex-direction: column-reverse;
  }

  @media #{$media-extra-small} {
    border: 0;
    flex-direction: column;
    margin-left: 45px;
    margin-top: -7px;
    padding: 7px 7px 15px;
    width: calc(100% - 45px);
  }
}

.item-detail {
  flex: 2 0 0%;

  .item-title {
    margin: 0;
    word-break: break-word;

    a {
      color: $primary-1;
      text-decoration: none;
    }

    + .item-text {
      margin-top: 10px;

      @media #{$media-extra-small} {
        margin-top: 5px;
      }
    }

    @media #{$media-extra-small} {
      font-size: 15px;
    }
  }

  .item-text {
    float: left;
    margin: 5px 0 0;
  }

  @media #{$media-small-minus} {
    flex: 0 0 auto;
  }
}

.action-wrapper {
  display: flex;
  flex: 1 0 0%;
  justify-content: flex-end;
  position: relative;

  time {
    color: $primary-4;
    font-size: 14px;

    @media #{$media-extra-small} {
      color: $neutral-4;
      font-size: 12px;
    }
  }

  .action-items {
    display: none;

    > span, > svg {
      cursor: pointer;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }

    @media #{$media-small-minus} {
      display: block;
    }

    @media #{$media-extra-small} {
      visibility: hidden;
    }
  }

  @media #{$media-small-minus} {
    flex: 0 0 auto;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  @media #{$media-extra-small} {
    margin: 10px 0 -10px;
  }
}

.action-overlay {
  background-color: $white;
  border-radius: 3px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 27px;
  width: 130px;
  z-index: 1;

  > span {
    font-size: 16px;
    font-weight: 200;
    color: $navy-text;
    margin-left: 10px;
    margin-top: 10px;
    display: block;
  }

  .button-wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
    width: 100%;

    button {
      margin: 0;
    }
  }

  &:before {
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent $white transparent;
    content: '';
    display: block;
    height: 0;
    filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, .2));
    left: calc(50% - 3.5px);
    position: relative;
    top: -5px;
    width: 0;

    @media #{$media-extra-small} {
      left: calc(100% - 20.5px); // slide the arrow to the right side as overlay is now right-aligned
    }
  }

  &:after {
    background-color: $white;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    right: 57.5px;
    top: 0;
    width: 13px;

    @media #{$media-extra-small} {
      right: 10px;
    }
  }

  @media #{$media-extra-small} {
    left: calc(100% - 154px) !important;
  }
}
