@import 'src/styles/common/colors';
@import 'src/styles/common/mixins';
@import 'src/styles/common/screen';
@import 'src/styles/common/functions';

.activity-feed {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
    margin-bottom: 30px;
    position: relative;
    width: 100%;

    &:after {
      background-color: $neutral-3;
      content: '';
      height: 100%;
      left: 19px;
      position: absolute;
      top: 30px;
      width: 2px;
    }

    &:last-child {
      margin-bottom: 0;

      &:after {
        display: none;
      }
    }

    @media #{$media-extra-small} {
      margin-bottom: 15px;
    }

  }
}

.indicator {
  border: 5px solid $white;
  border-radius: 9px;
  left: 0;
  position: absolute;
  top: -5px;
  z-index: 1;
}

.item-wrapper {
  border-radius: 3px;
  border: 1px solid $neutral-3;
  box-sizing: border-box;
  float: left;
  padding: 15px 80px 15px 15px;
  position: relative;
  margin-left: 60px;
  width: calc(100% - 60px);

  h3 {
    float: left;
    margin: 0;

    @media #{$media-extra-small} {
      + svg {
        margin-top: 3px;
      }
    }

    a {
      color: $primary-1;
      text-decoration: none;
    }
  }

  p {
    float: left;
    margin: 5px 0 0;
  }

  h3 + p {
    margin-top: 10px;
  }

  time {
    color: $primary-4;
    display: block;
    font-size: 14px;
    position: absolute;
    right: 15px;
    top: 15px;

    @media #{$media-extra-small} {
      position: static;
      margin-bottom: 5px;
    }
  }

  @media #{$media-extra-small} {
    margin-left: 45px;
    padding-right: 15px;
    width: calc(100% - 45px);
  }

  &:hover {
    .title-wrapper svg {
      opacity: 1;
      visibility: visible;
    }
  }
}

.title-wrapper {
  svg {
    cursor: pointer;
    margin-right: 5px;
    opacity: 0;
    position: relative;
    top: -2px;
    transition: visibility 0s, opacity 0.25s ease-in;
    visibility: hidden;

    @media #{$media-extra-small} {
      opacity: 1;
      visibility: visible;
    }
  }
}

.action-wrapper {
  display: inline-block;
  margin-left: 5px;
  position: relative;
  top: 2px;

  @media #{$media-extra-small} {
    position: absolute;
    top: 15px;
    right: 10px;
  }
}
