@import '../../styles/common/colors';

.colorpicker-component {

  position: relative;

  input {
    padding-left: 44px;
  }

  .color-preview {
    position: absolute;
    top: 7px;
    left: 10px;
    width: 24px;
    height: 24px;
    border-radius: 2px;
  }

  .sketch-container {
    margin-top: 5px;

    // override SketchPicker style to match input style
    > div:nth-of-type(2) {
      box-shadow: none !important;
      border: 1px solid $neutral-3 !important;
      border-radius: 2px !important;
    }
  }
}
