@import '~react-ions/styles/common/colors';
@import '~react-ions/styles/common/mixins';
@import '~react-ions/styles/common/screen';

.custom-background {
  background-color: yellow;
}

.custom-color {
  color: black;
}

.custom-color-hover {
  &:hover {
    color: red;
    background-color: black;
  }
}

.overlay {
  background-color: $white;
  border-radius: 3px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 27px;
  width: 130px;
  z-index: 1;

  > span {
    font-size: 16px;
    font-weight: 200;
    color: $navy-text;
    margin-left: 10px;
    margin-top: 10px;
    display: block;
  }

  .button-wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
    width: 100%;

    button {
      margin: 0;
    }
  }

  &:before {
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent $white transparent;
    content: '';
    display: block;
    height: 0;
    filter: drop-shadow(0px -1px 1px rgba(0, 0, 0, .2));
    left: calc(50% - 3.5px);
    position: relative;
    top: -5px;
    width: 0;

    @media #{$media-extra-small} {
      left: calc(100% - 20.5px); // slide the arrow to the right side as overlay is now right-aligned
    }
  }

  &:after {
    background-color: $white;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    right: 57.5px;
    top: 0;
    width: 13px;

    @media #{$media-extra-small} {
      right: 10px;
    }
  }
}
