.custom-background {
  background-color: yellow;
}

.custom-color {
  color: black;
}

.custom-color-hover {
  &:hover {
    color: red;
    background-color: black;
  }
}

.custom-confirmation-wrapper {
  display: inline-flex;

  > div {
    margin-right: 16px;
  }
}
