@import '../../styles/common/colors';

.chip-wrapper {
  background-color: $neutral-4;
  border-radius: 2px;
  color: $primary-4;
  display: inline-flex;
  font-size: 12px;
  font-weight: normal;
  padding: 3px 8px;

  span {
    line-height: 1.3;
    position: relative;
  }

  &.larger {
    font-size: 14px;
  }

  &.smaller {
    font-size: 10px;
    font-weight: 200;
    padding: 5px 8px 3px;
    text-transform: uppercase;
  }

  &.primary {
    background-color: $primary-1;
    color: $white;
  }

  &.primary-darker {
    background-color: $primary-6;
    color: $white;
  }

  &.neutral-4 {
    background-color: $neutral-4;
  }

  &.neutral-1 {
    background-color: $neutral-1;
  }

  &.danger {
    background-color: $danger;
    color: $white;
  }

  &.success {
    background-color: $success;
    color: $white;
  }

  &.actionable {
    cursor: pointer;
  }
}
