.update {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;

  button {
    margin-right: 15px;
  }
}

.is-hidden {
  display: none;
}

.radio-child {
  margin: 0 0 15px 27px;

  &[class^='input-component-'] {
    width: 50px;
  }
}
