.button-callback {
  margin-top: 20px;
}

.opt-wrapper {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.inline-div-wrapper {
  width: 100%;
  height: 18px;
  display: flex;

  .label-wrapper {
    margin-left: 2px;
  }

  .icon-wrapper {
    margin-top: -1px;
  }
}
