@import '../../styles/common/colors';

.avatar-wrapper {
  flex-shrink: 0;
  opacity: 0;
  overflow: hidden;
  position: relative;
  transition: opacity .25s ease-in;

  &.loaded {
    opacity: 1;
  }

  > div {
    align-items: center;
    display: flex;
    justify-content: center;
    user-select: none;

    span {
      color: $white;
      position: relative;
      text-transform: uppercase;
      top: 2%;
    }
  }
  &.not-square {
    background: url(https://ambassador-api-dev.s3.amazonaws.com/uploads/avatars/1088_2018_12_11_17_04_41.jpg);
    background-size: cover;
  }
}
