@import '../../styles/common/colors';

.avatar-wrapper {
  opacity: 0;
  overflow: hidden;
  position: relative;
  transition: opacity .25s ease-in;

  &.loaded {
    opacity: 1;
  }

  > div {
    background-color: $success;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    span {
      color: $white;
    }
  }
}
