@import '../../styles/common/colors';
@import '../../styles/common/_config';

.tooltip-component {
  position: absolute;
  top: -99999px;
  left: -99999px;
  line-height: 1.4em;
  opacity: 0;
  max-width: 160px;
  padding: 10px 13px;
  border-radius: 3px;
  background-color: $primary-3;
  color: $white;
  text-align: center;
  z-index: 2;
  transition: opacity 400ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }
  &.top {
    transform: translate(-50%, calc(-100% - 6px));
    &:before {
      border-width: 6px 6px 0;
      border-color: $primary-3 transparent transparent;
      left: 50%;
      bottom: -6px;
      transform: translate(-50%, 0);
    }
  }
  &.bottom {
    transform: translate(-50%, 6px);
    &:before {
      border-width: 0 6px 6px;
      border-color: transparent transparent $primary-3;
      left: 50%;
      top: -6px;
      transform: translate(-50%, 0);
    }
  }
  &.left {
    transform: translate(calc(-100% - 8px), -50%);
    &:before {
      border-width: 6px 0 6px 6px;
      border-color: transparent transparent transparent $primary-3;
      right: -6px;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
  &.right {
    transform: translate(8px, -50%);
    &:before {
      border-width: 6px 6px 6px 0;
      border-color: transparent $primary-3 transparent transparent;
      left: -6px;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}
