@import '../../styles/common/colors';

.toggle-component {
  cursor: pointer;
  position: relative;
  width: 26px;

  .outer {
    background: $primary-4;
    border-radius: 100px;
    height: 15px;
    left: 0;
    position: absolute;
    transition: background 0.3s ease-in;
    top: 0;
    width: 26px;
    &.on {
      background: $success;
    }
  }

  .inner {
    background: $neutral-1;
    border-radius: 50%;
    height: 13px;
    position: absolute;
    right: 12px;
    top: 1px;
    transition: background 0.3s ease-in, right 0.3s ease-out;
    width: 13px;
    &.on {
      background: $white;
      right: 1px;
    }
  }
}
