@mixin vertical-align($display: 'block') {
  align-items: center;
  box-sizing: border-box;
  @if $display == 'inline' {
    display: inline-flex;
  } else {
    display: flex;
  }
}

@mixin monospace {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  line-height: 20px;
  word-wrap: normal;
  white-space: pre;
}
