.warning-btn {
  background-color: #F29C1E;
  transition: all .15s ease-in-out;

  &:hover {
    background-color: darken(#F29C1E, 15%);
    opacity: .9;
  }

}

.buttons {
  margin: 15px 0;
}

.inputs {
  width: 100%;
  overflow: hidden;

  > div {
    float: left;

    &:last-child {
      margin-left: 15px;

      > input {
        min-width: 120px
      }

    }

  }
}
